flows/Plc_WoliCloseDesktop.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Set_OperationType</name>
        <label>Set OperationType</label>
        <locationX>1383</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_OperationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_rb_opType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrDll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_SS2</name>
        <label>Set Selected SS2</label>
        <locationX>1103</locationX>
        <locationY>1001</locationY>
        <assignmentItems>
            <assignToReference>selectedSS2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>step2_rb_ss2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_StockSerial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_SerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Plc_EncodedSerialNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_ReferenceExternalCatalogItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Plc_ProductSku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_ExternalCatalogItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Bit2Shop__Product_Stock_Id__r.Bit2Shop__External_Catalog_Item_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_ResourceAlias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Plc_ProductSku__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAbi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_SS2_ext</name>
        <label>Set Selected SS2 ext</label>
        <locationX>917</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>selectedSS2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>step2_rb_ss2ext</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_StockSerial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_SerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Plc_EncodedSerialNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_ReferenceExternalCatalogItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Plc_ProductSku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_ExternalCatalogItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Bit2Shop__Product_Stock_Id__r.Bit2Shop__External_Catalog_Item_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_ResourceAlias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Found.Plc_ProductSku__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAbi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warning_Stock_Serial_Not_New</name>
        <label>Set Warning Stock Serial Not New</label>
        <locationX>546</locationX>
        <locationY>1657</locationY>
        <assignmentItems>
            <assignToReference>SS2_Found.Plc_WarningStockSerialNotNew__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_WarningStockSerialNotNew__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_serial_Stock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>In this case, the woli is an Installation, set status = executed</description>
        <name>Set_WoliExecutedWithoutDll</name>
        <label>Set Woli Executed without Dll</label>
        <locationX>2078</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>woliRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetWoConfiguration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewSerial_0_0</name>
        <label>Set new serial</label>
        <locationX>3747</locationX>
        <locationY>1423</locationY>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_SubstitutedSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_text_retireSerialSearch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetWoliRetire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewSerial_0_0_0</name>
        <label>Set new serial</label>
        <locationX>3202</locationX>
        <locationY>2151</locationY>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_SubstitutedSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Retire_Found.Plc_EncodedSerialNumberUnique__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetWoliRetire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRetireSerial</name>
        <label>Set retire serial</label>
        <locationX>3599</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_SerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_text_retireSerialSearch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_StockSerial__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SetWoliRetire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRetireSerial_0</name>
        <label>Set retire serial</label>
        <locationX>3129</locationX>
        <locationY>2041</locationY>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_StockSerial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Retire_Found.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_ExternalCatalogItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Retire_ECI.Bit2Shop__External_Catalog_Item_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_ReferenceExternalCatalogItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Retire_ECI.Plc_ProductSku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_SerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Retire_Found.Plc_EncodedSerialNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_ResourceAlias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS2_Retire_Found.Plc_ProductSku__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetWoliRetire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetWoli</name>
        <label>Set Woli</label>
        <locationX>1766</locationX>
        <locationY>1774</locationY>
        <assignmentItems>
            <assignToReference>woliRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChkSubstOrSubstCorr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetWoliRetire</name>
        <label>Set Woli Retire</label>
        <locationX>3194</locationX>
        <locationY>1324</locationY>
        <assignmentItems>
            <assignToReference>woliRecord.Plc_OperationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_rb_opType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetWoConfiguration</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc_no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_yes</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoneChc</name>
        <choiceText>Matricola non risulta in Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>none</stringValue>
        </value>
    </choices>
    <choices>
        <name>retire_chs_deactivate</name>
        <choiceText>Deactivate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ToDeactivate</stringValue>
        </value>
    </choices>
    <choices>
        <name>retire_chs_remove</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ToRemove</stringValue>
        </value>
    </choices>
    <choices>
        <name>retire_chs_substitute</name>
        <choiceText>Substitute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ToSubstitute</stringValue>
        </value>
    </choices>
    <choices>
        <name>retire_chs_subtitutecorr</name>
        <choiceText>SubstituteCorr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ToSubstituteCorr</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Abi_Model</name>
        <label>Check Abi Model</label>
        <locationX>85</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>GetExtCatItem_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ModelNotCompatible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>abiModRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore_SKU</targetReference>
            </connector>
            <label>Model Not Compatible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nel caso in cui l’ABI indicato nel Work Order NON sia presente nella tabella di compatibilità, viene verificato che la soluzione del modello installato sia uguale a quella presente a livello di Work Order Line Item.</description>
        <name>Check_Match_Solution</name>
        <label>Check Match Solution</label>
        <locationX>112</locationX>
        <locationY>1227</locationY>
        <defaultConnector>
            <targetReference>Check_Solution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Solution_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>solutionRecord.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>solutionRecordSS2.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stock_Serial_2_FirstInstallationDate</targetReference>
            </connector>
            <label>Solution Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SS2_search</name>
        <label>Check SS2 search</label>
        <locationX>1057</locationX>
        <locationY>1372</locationY>
        <defaultConnector>
            <targetReference>Step2_SS2_results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SS2_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ss2Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStockSerialsExt</targetReference>
            </connector>
            <label>SS2 Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SS2_search_ext</name>
        <label>Check SS2 search ext</label>
        <locationX>743</locationX>
        <locationY>1191</locationY>
        <defaultConnector>
            <targetReference>Step2_SS2_results_ext</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SS2_Ext_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ss2Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_2_enter_new_ss2</targetReference>
            </connector>
            <label>SS2 Ext Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckABI</name>
        <label>Check ABI</label>
        <locationX>610</locationX>
        <locationY>897</locationY>
        <defaultConnector>
            <targetReference>GetProductStock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotFoundAbi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>abiModRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExtCatItem_0</targetReference>
            </connector>
            <label>Not Found Abi</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMaterialsReturn</name>
        <label>Check Materials Return</label>
        <locationX>1587</locationX>
        <locationY>851</locationY>
        <defaultConnector>
            <targetReference>Step_2_SS2_search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeactivateOrRemove</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ToDeactivate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ToRemove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSerialsFromAsset</targetReference>
            </connector>
            <label>Deactivate Or Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChkAssetChoice</name>
        <label>ChkAssetChoice</label>
        <locationX>2918</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>GetStockSerial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr_rb_selectAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoneChc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retire_SS2_search</targetReference>
            </connector>
            <label>NoChoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChkDllConfirmed</name>
        <label>Dll Confirmed?</label>
        <locationX>1748</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>CheckMaterialsReturn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not confirmed</defaultConnectorLabel>
        <rules>
            <name>hasSs2DllConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StockSerialFromDllConfirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChkSubstOrSubstCorr</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <description>ToRemove, ToDeactivate</description>
        <name>ChkRemoveDeactivate</name>
        <label>Chk Remove /Deactivate</label>
        <locationX>3418</locationX>
        <locationY>1549</locationY>
        <defaultConnector>
            <targetReference>ChkSubstituteSubstituteCorr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ToRemove_ToDeactivate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>retire_chs_deactivate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>retire_chs_remove</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRetireSerial</targetReference>
            </connector>
            <label>ToRemove/ToDeactivate</label>
        </rules>
    </decisions>
    <decisions>
        <description>ToRemove, ToDeactivate</description>
        <name>ChkRemoveDeactivate_0</name>
        <label>Chk Remove /Deactivate</label>
        <locationX>2438</locationX>
        <locationY>1932</locationY>
        <defaultConnector>
            <targetReference>ChkSubstituteSubstituteCorr_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ToRemove_ToDeactivate_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>retire_chs_deactivate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>retire_chs_remove</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Retire_ECI</targetReference>
            </connector>
            <label>ToRemove/ToDeactivate</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChkReservation</name>
        <label>Chk Reservation</label>
        <locationX>2070</locationX>
        <locationY>1513</locationY>
        <defaultConnector>
            <targetReference>CloseWoli</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Reservation</defaultConnectorLabel>
        <rules>
            <name>Release_Reservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>woliRecord.Plc_Reservation__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>GetWoConfiguration.Plc_NeedsReservation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateReservation</targetReference>
            </connector>
            <label>Release Reservation</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChkRetireSs2Search</name>
        <label>Chk Retire Ss2 Search</label>
        <locationX>2573</locationX>
        <locationY>1543</locationY>
        <defaultConnector>
            <targetReference>scrRetireSs2Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>SS2_Retire_NotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ss2RetireRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRetireStockSerialsExt</targetReference>
            </connector>
            <label>SS2 Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChkRetireSs2SearchExt</name>
        <label>Chk Retire Ss2 Search Ext</label>
        <locationX>2879</locationX>
        <locationY>1546</locationY>
        <defaultConnector>
            <targetReference>scrRetireSs2ResultsExt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>SS2_Retire_Ext_NotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ss2RetireRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChkRemoveDeactivate</targetReference>
            </connector>
            <label>SS2 Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>pre check to see if there are any serial related to installed asset on the terminal refercend in the woli</description>
        <name>ChkSerialsFromAsset</name>
        <label>Chk Serials from Asset</label>
        <locationX>2645</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>Retire_SS2_search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>FoundSerials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetsFromTerminal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrSelectSs2FromAsset</targetReference>
            </connector>
            <label>Found Serials</label>
        </rules>
    </decisions>
    <decisions>
        <description>ToRemove, ToDeactivate</description>
        <name>ChkSubstituteSubstituteCorr</name>
        <label>Chk Substitute /SubstituteCorr</label>
        <locationX>3418</locationX>
        <locationY>1770</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Substitute_SubstituteCorr</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>retire_chs_substitute</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>retire_chs_subtitutecorr</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewSerial_0_0</targetReference>
            </connector>
            <label>Substitute /SubstituteCorr</label>
        </rules>
    </decisions>
    <decisions>
        <description>ToRemove, ToDeactivate</description>
        <name>ChkSubstituteSubstituteCorr_0</name>
        <label>Chk Substitute /SubstituteCorr</label>
        <locationX>2441</locationX>
        <locationY>2154</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Substitute_SubstituteCorr_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>retire_chs_substitute</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr_rb_opType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>retire_chs_subtitutecorr</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewSerial_0_0_0</targetReference>
            </connector>
            <label>Substitute /SubstituteCorr</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChkSubstOrSubstCorr</name>
        <label>Chk Substitute /ToSubstituteCorr</label>
        <locationX>1901</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>Set_WoliExecutedWithoutDll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Substitute_Or_SubstituteCorr</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>woliRecord.Plc_OperationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ToSubstitute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>woliRecord.Plc_OperationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ToSubstituteCorr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSerialsFromAsset</targetReference>
            </connector>
            <label>Substitute Or SubstituteCorr</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stock_Serial_2_FirstInstallationDate</name>
        <label>Stock Serial 2 FirstInstallationDate</label>
        <locationX>127</locationX>
        <locationY>1777</locationY>
        <defaultConnector>
            <targetReference>SetWoli</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SS2_Found.Plc_FirstInstallationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Prodotto_non_nuovo</targetReference>
            </connector>
            <label>Old product</label>
        </rules>
    </decisions>
    <decisions>
        <name>UseDll</name>
        <label>Use DLL?</label>
        <locationX>1585</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>CheckMaterialsReturn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>useDllYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr_rb_dll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallDllservice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>[ITSTRATPOS-1419] Utenti SdM non devono accedere ad Operation Type &quot;ToDeactivate&quot;</description>
    <dynamicChoiceSets>
        <name>assetByTermChoices</name>
        <dataType>String</dataType>
        <displayField>Plc_StockSerialInfo__c</displayField>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Plc_TermIdCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliRecord.Plc_ExternalTermId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Plc_StockSerial__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OperationTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Plc_OperationType__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>stock serials choices for radio button</description>
        <name>ss2Choices</name>
        <dataType>String</dataType>
        <displayField>Plc_StockSerialInfo__c</displayField>
        <filters>
            <field>Plc_EncodedSerialNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step2_serial</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <outputAssignments>
            <assignToReference>SS2_Found.Bit2Shop__Product_Stock_Id__c</assignToReference>
            <field>Bit2Shop__Product_Stock_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Plc_EncodedSerialNumber__c</assignToReference>
            <field>Plc_EncodedSerialNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Plc_FirstInstallationDate__c</assignToReference>
            <field>Plc_FirstInstallationDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Plc_Model__c</assignToReference>
            <field>Plc_Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Plc_ProductSku__c</assignToReference>
            <field>Plc_ProductSku__c</field>
        </outputAssignments>
        <sortField>Plc_EncodedSerialNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Plc_EncodedSerialNumber__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>search with only last 8 char of the serial number</description>
        <name>ss2Last8CharsChoices</name>
        <dataType>String</dataType>
        <displayField>Plc_StockSerialInfo__c</displayField>
        <filters>
            <field>Plc_EncodedSerialNumber__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>last8Char</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <outputAssignments>
            <assignToReference>SS2_Found.Bit2Shop__Product_Stock_Id__c</assignToReference>
            <field>Bit2Shop__Product_Stock_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Plc_EncodedSerialNumber__c</assignToReference>
            <field>Plc_EncodedSerialNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Plc_FirstInstallationDate__c</assignToReference>
            <field>Plc_FirstInstallationDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Plc_Model__c</assignToReference>
            <field>Plc_Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Found.Plc_ProductSku__c</assignToReference>
            <field>Plc_ProductSku__c</field>
        </outputAssignments>
        <valueField>Plc_EncodedSerialNumber__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ss2RetireChoices</name>
        <dataType>String</dataType>
        <displayField>Plc_StockSerialInfo__c</displayField>
        <filters>
            <field>Plc_EncodedSerialNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scr_text_retireSerialSearch</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Bit2Shop__Product_Stock_Id__c</assignToReference>
            <field>Bit2Shop__Product_Stock_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_EncodedSerialNumberUnique__c</assignToReference>
            <field>Plc_EncodedSerialNumberUnique__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_EncodedSerialNumber__c</assignToReference>
            <field>Plc_EncodedSerialNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_FirstInstallationDate__c</assignToReference>
            <field>Plc_FirstInstallationDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_ProductSku__c</assignToReference>
            <field>Plc_ProductSku__c</field>
        </outputAssignments>
        <valueField>Plc_EncodedSerialNumber__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ss2RetireLast8CharsChoices</name>
        <dataType>String</dataType>
        <displayField>Plc_StockSerialInfo__c</displayField>
        <filters>
            <field>Plc_EncodedSerialNumber__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>last8CharRetire</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Bit2Shop__Product_Stock_Id__c</assignToReference>
            <field>Bit2Shop__Product_Stock_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_EncodedSerialNumberUnique__c</assignToReference>
            <field>Plc_EncodedSerialNumberUnique__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_EncodedSerialNumber__c</assignToReference>
            <field>Plc_EncodedSerialNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_FirstInstallationDate__c</assignToReference>
            <field>Plc_FirstInstallationDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_ProductSku__c</assignToReference>
            <field>Plc_ProductSku__c</field>
        </outputAssignments>
        <valueField>Plc_EncodedSerialNumber__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>woCfgChoices</name>
        <dataType>String</dataType>
        <displayField>Plc_OperationTypeDescription__c</displayField>
        <filters>
            <field>Plc_IntegrationName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woRecordTypeRecord.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plc_EligibleOperationTypes__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>frm_ToDeactivate</elementReference>
            </value>
        </filters>
        <object>Plc_WorkOrderConfiguration__c</object>
        <valueField>Plc_SelectedOperation__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Campo formula che permette di determinare gli utenti che possono accedere all&apos;operation type &quot;ToDeactivate&quot;</description>
        <name>frm_ToDeactivate</name>
        <dataType>String</dataType>
        <expression>IF (
      OR(
              {!$Profile.Name} = &apos;Operation&apos;,
              {!$Profile.Name} = &apos;System Administrator&apos;,
              {!$Profile.Name} = &apos;OB_System_Administrator&apos;
            ),
   &apos;&apos;,
  &apos;ToDeactivate&apos;
)</expression>
    </formulas>
    <formulas>
        <name>last8Char</name>
        <dataType>String</dataType>
        <expression>RIGHT({!step2_serial},8)</expression>
    </formulas>
    <formulas>
        <name>last8CharRetire</name>
        <dataType>String</dataType>
        <expression>RIGHT({!scr_text_retireSerialSearch},8)</expression>
    </formulas>
    <interviewLabel>Plc Woli Close desktop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plc Woli Close Desktop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Retire_ECI</name>
        <label>Get Retire ECI</label>
        <locationX>2945</locationX>
        <locationY>2041</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetRetireSerial_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SS2_Retire_Found.Bit2Shop__Product_Stock_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bit2Shop__Product_Stock__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bit2Shop__External_Catalog_Item_Id__c</queriedFields>
        <queriedFields>Plc_ProductSku__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAbi</name>
        <label>GetAbi</label>
        <locationX>1048</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckABI</targetReference>
        </connector>
        <filters>
            <field>Plc_Abi__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woRecord.Plc_Abi__c</elementReference>
            </value>
        </filters>
        <object>Plc_AbiModelCompatibility__c</object>
        <outputReference>abiModRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plc_Abi__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAbiModel</name>
        <label>GetAbiModel</label>
        <locationX>331</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Abi_Model</targetReference>
        </connector>
        <filters>
            <field>Plc_Abi__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woRecord.Plc_Abi__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plc_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetExtCatItemFromProdStock.Id</elementReference>
            </value>
        </filters>
        <object>Plc_AbiModelCompatibility__c</object>
        <outputReference>abiModRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExtCatItem</name>
        <label>GetExtCatItem</label>
        <locationX>908</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSolution</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliRecord.Plc_ExternalCatalogItem__c</elementReference>
            </value>
        </filters>
        <object>B2WExtCat__External_Catalog_Item__c</object>
        <outputReference>eciRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plc_ProductSku__c</queriedFields>
        <queriedFields>Bit2Shop__Product_Description__c</queriedFields>
        <queriedFields>Plc_Solution__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExtCatItem_0</name>
        <label>GetExtCatItem</label>
        <locationX>98</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSolution_0</targetReference>
        </connector>
        <filters>
            <field>Plc_ProductSku__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SS2_Found.Plc_ProductSku__c</elementReference>
            </value>
        </filters>
        <object>B2WExtCat__External_Catalog_Item__c</object>
        <outputReference>eciRecordSS2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plc_ProductSku__c</queriedFields>
        <queriedFields>Bit2Shop__Product_Description__c</queriedFields>
        <queriedFields>Plc_Solution__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExtCatItemFromProdStock</name>
        <label>GetExtCatItemFromProdStock</label>
        <locationX>506</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAbiModel</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProductStock.Bit2Shop__External_Catalog_Item_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2WExtCat__External_Catalog_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductStock</name>
        <label>GetProductStock</label>
        <locationX>642</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExtCatItemFromProdStock</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SS2_Found.Bit2Shop__Product_Stock_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bit2Shop__Product_Stock__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRetireSs2ByAsset</name>
        <label>Get Retire Ss2 By Asset</label>
        <locationX>2446</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChkRemoveDeactivate_0</targetReference>
        </connector>
        <filters>
            <field>Plc_EncodedSerialNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetStockSerial.Plc_EncodedSerialNumber__c</elementReference>
            </value>
        </filters>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Bit2Shop__Product_Stock_Id__c</assignToReference>
            <field>Bit2Shop__Product_Stock_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_EncodedSerialNumberUnique__c</assignToReference>
            <field>Plc_EncodedSerialNumberUnique__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_EncodedSerialNumber__c</assignToReference>
            <field>Plc_EncodedSerialNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_FirstInstallationDate__c</assignToReference>
            <field>Plc_FirstInstallationDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SS2_Retire_Found.Plc_ProductSku__c</assignToReference>
            <field>Plc_ProductSku__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRetireStockSerials</name>
        <label>Get Retire Stock Serials</label>
        <locationX>2584</locationX>
        <locationY>1387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChkRetireSs2Search</targetReference>
        </connector>
        <filters>
            <field>Plc_EncodedSerialNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scr_text_retireSerialSearch</elementReference>
            </value>
        </filters>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <outputReference>ss2RetireRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRetireStockSerialsExt</name>
        <label>Get Retire Stock Serials Ext</label>
        <locationX>2749</locationX>
        <locationY>1543</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChkRetireSs2SearchExt</targetReference>
        </connector>
        <filters>
            <field>Plc_EncodedSerialNumber__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>last8CharRetire</elementReference>
            </value>
        </filters>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <outputReference>ss2RetireRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>query to count all POS assets installed on the terminal referenced in the woli</description>
        <name>GetSerialsFromAsset</name>
        <label>Count Serials from Asset</label>
        <locationX>2506</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChkSerialsFromAsset</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Plc_TermIdCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliRecord.Plc_ExternalTermId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>assetsFromTerminal</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSolution</name>
        <label>GetSolution</label>
        <locationX>1042</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eciRecord.Plc_Solution__c</elementReference>
            </value>
        </filters>
        <object>Plc_Solution__c</object>
        <outputReference>solutionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSolution_0</name>
        <label>GetSolution</label>
        <locationX>101</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Match_Solution</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eciRecordSS2.Plc_Solution__c</elementReference>
            </value>
        </filters>
        <object>Plc_Solution__c</object>
        <outputReference>solutionRecordSS2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetStockSerial</name>
        <label>GetStockSerial</label>
        <locationX>2928</locationX>
        <locationY>1067</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRetireSs2ByAsset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scr_rb_selectAsset</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStockSerials</name>
        <label>GetStockSerials</label>
        <locationX>1366</locationX>
        <locationY>1370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SS2_search</targetReference>
        </connector>
        <filters>
            <field>Plc_EncodedSerialNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step2_serial</elementReference>
            </value>
        </filters>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <outputReference>ss2Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plc_EncodedSerialNumber__c</queriedFields>
        <queriedFields>Plc_FirstInstallationDate__c</queriedFields>
        <queriedFields>Plc_ProductSku__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>query more result filtering only on last 8 char of the serial</description>
        <name>GetStockSerialsExt</name>
        <label>GetStockSerialsExt</label>
        <locationX>753</locationX>
        <locationY>1370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SS2_search_ext</targetReference>
        </connector>
        <filters>
            <field>Plc_EncodedSerialNumber__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>last8Char</elementReference>
            </value>
        </filters>
        <object>Bit2Shop__Stock_Serials2__c</object>
        <outputReference>ss2Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plc_EncodedSerialNumber__c</queriedFields>
        <queriedFields>Plc_FirstInstallationDate__c</queriedFields>
        <queriedFields>Plc_ProductSku__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTerminal</name>
        <label>GetTerminal</label>
        <locationX>776</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExtCatItem</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliRecord.Plc_TermId__c</elementReference>
            </value>
        </filters>
        <object>Plc_TermId__c</object>
        <outputReference>termRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plc_TermIdCode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWoConfiguration</name>
        <label>Get Wo Configuration</label>
        <locationX>2078</locationX>
        <locationY>1324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChkReservation</targetReference>
        </connector>
        <filters>
            <field>Plc_EligibleOperationTypes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scr_rb_opType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plc_IntegrationName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woRecordTypeRecord.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plc_WorkOrderConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWoli</name>
        <label>GetWoli</label>
        <locationX>620</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTerminal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>woliRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Plc_TermId__c</queriedFields>
        <queriedFields>Plc_ExternalCatalogItem__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Plc_StockSerial__c</queriedFields>
        <queriedFields>Plc_SerialNumber__c</queriedFields>
        <queriedFields>Plc_TermIdCode__c</queriedFields>
        <queriedFields>Plc_ExternalTermId__c</queriedFields>
        <queriedFields>Plc_SourceLegacySystem__c</queriedFields>
        <queriedFields>Plc_Reservation__c</queriedFields>
        <queriedFields>Plc_Alias__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWoRecordType</name>
        <label>GetWoRecordType</label>
        <locationX>1370</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrOpType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>woRecordTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>1193</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWoRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliRecord.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>woRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Plc_Abi__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CloseWoli</name>
        <label>Close Woli on FINISH</label>
        <locationX>1928</locationX>
        <locationY>1714</locationY>
        <connector>
            <targetReference>Plc_WOLICloseAccessoryDesktop</targetReference>
        </connector>
        <inputReference>woliRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_serial_Stock</name>
        <label>Update serial Stock</label>
        <locationX>772</locationX>
        <locationY>1656</locationY>
        <connector>
            <targetReference>SetWoli</targetReference>
        </connector>
        <inputReference>SS2_Found</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateReservation</name>
        <label>Update Reservation</label>
        <locationX>2078</locationX>
        <locationY>1714</locationY>
        <connector>
            <targetReference>CloseWoli</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliRecord.Plc_Reservation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plc_Status__c</field>
            <value>
                <stringValue>NotReserved</stringValue>
            </value>
        </inputAssignments>
        <object>Plc_Reservation__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Check_Solution</description>
        <name>Check_Solution</name>
        <label>Check Solution</label>
        <locationX>364</locationX>
        <locationY>1277</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Compatibility_Err</name>
            <fieldText>&lt;p&gt;Le soluzioni non sono compatibili, la chiusura non è possibile.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Soluzione WOLI&lt;/b&gt;:&lt;/p&gt;&lt;p&gt;{!solutionRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Soluzione SS2 Trovato:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!solutionRecordSS2.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errore_SKU</name>
        <label>Errore SKU</label>
        <locationX>446</locationX>
        <locationY>777</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgErrSKU</name>
            <fieldText>&lt;p&gt;Errore, SKU    {!SS2_Found.Plc_ProductSku__c} non compatibile con l&apos;ABI  {!woRecord.Plc_Abi__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>b.	Conferma la rimozione del materiale inserendo la Matricola Nexi in una casella di input, manualmente o tramite scansione del codice a barre.</description>
        <name>Retire_SS2_search</name>
        <label>Retire SS2 search</label>
        <locationX>2654</locationX>
        <locationY>937</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetRetireStockSerials</targetReference>
        </connector>
        <fields>
            <name>scr_text_retireSerialSearch</name>
            <dataType>String</dataType>
            <fieldText>Matricola da rimuovere...</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrDll</name>
        <label>Call DLL?</label>
        <locationX>1383</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UseDll</targetReference>
        </connector>
        <fields>
            <name>scr_rb_dll</name>
            <choiceReferences>chc_yes</choiceReferences>
            <choiceReferences>chc_no</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chc_no</defaultSelectedChoiceReference>
            <fieldText>Vuoi richiamare la Dll?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrOpType</name>
        <label>Select Operation Type</label>
        <locationX>1383</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_OperationType</targetReference>
        </connector>
        <fields>
            <name>scr_rb_opType</name>
            <choiceReferences>woCfgChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Che cosa hai fatto per questa riga d&apos;ordine?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrRetireSs2Results</name>
        <label>Retire SS2 results</label>
        <locationX>2580</locationX>
        <locationY>1758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChkRemoveDeactivate_0</targetReference>
        </connector>
        <fields>
            <name>scr_rb_ss2RetireResults</name>
            <choiceReferences>ss2RetireChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stock Serials</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrRetireSs2ResultsExt</name>
        <label>Retire SS2 results ext</label>
        <locationX>2815</locationX>
        <locationY>1782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChkRemoveDeactivate_0</targetReference>
        </connector>
        <fields>
            <name>scr_rb_ss2RetireResultsExt</name>
            <choiceReferences>ss2RetireLast8CharsChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stock Serials</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrSelectSs2FromAsset</name>
        <label>Select Ss2 from Asset</label>
        <locationX>2921</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChkAssetChoice</targetReference>
        </connector>
        <fields>
            <name>scr_txt_help</name>
            <fieldText>&lt;p&gt;Seleziona matricola da asset installato…&lt;/p&gt;&lt;p&gt;&lt;i&gt;(Selezionare “&lt;/i&gt;Matricola non risulta in Asset&lt;i&gt;” per procedere con la digitazione manuale)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr_rb_selectAsset</name>
            <choiceReferences>NoneChc</choiceReferences>
            <choiceReferences>assetByTermChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step2_SS2_results</name>
        <label>Step2 SS2 results</label>
        <locationX>1102</locationX>
        <locationY>1156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Selected_SS2</targetReference>
        </connector>
        <fields>
            <name>step2_rb_ss2</name>
            <choiceReferences>ss2Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stock Serials</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step2_SS2_results_ext</name>
        <label>Step2 SS2 results ext</label>
        <locationX>917</locationX>
        <locationY>1155</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Selected_SS2_ext</targetReference>
        </connector>
        <fields>
            <name>step2_rb_ss2ext</name>
            <choiceReferences>ss2Last8CharsChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stock Serials</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_2_enter_new_ss2</name>
        <label>Step 2 enter new ss2</label>
        <locationX>550</locationX>
        <locationY>1475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_2_SS2_search</targetReference>
        </connector>
        <fields>
            <name>Serial_Not_Found</name>
            <fieldText>&lt;p&gt;Nessuna matricola trovata. Premere avanti per ripetere la ricerca.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_2_SS2_search</name>
        <label>Step 2 SS2 search</label>
        <locationX>1590</locationX>
        <locationY>1506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetStockSerials</targetReference>
        </connector>
        <fields>
            <name>step2_serial</name>
            <dataType>String</dataType>
            <fieldText>Matricola da installare …</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Prodotto_non_nuovo</name>
        <label>Warning Prodotto non nuovo</label>
        <locationX>389</locationX>
        <locationY>1657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Warning_Stock_Serial_Not_New</targetReference>
        </connector>
        <fields>
            <name>Prodotto_usato</name>
            <fieldText>&lt;p&gt;Attenzione! il prodotto utilizzato non è nuovo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>84</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>GetWoli</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call the DLL web service to retrieve a serial</description>
        <name>CallDllservice</name>
        <label>Call DLL service</label>
        <locationX>1762</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>ChkDllConfirmed</targetReference>
        </connector>
        <flowName>Plc_ReadDLL</flowName>
        <inputAssignments>
            <name>WorkOrderLineItemFromParentFlow</name>
            <value>
                <elementReference>woliRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>StockSerialFromDllConfirmed</assignToReference>
            <name>StockSerialFromDllConfirmed</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>woliRecord</assignToReference>
            <name>WorkOrderLineItemFromParentFlow</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Add accessory subflow NEXIPLC-998</description>
        <name>Plc_WOLICloseAccessoryDesktop</name>
        <label>Plc WOLI Close Accessory Desktop</label>
        <locationX>1928</locationX>
        <locationY>2063</locationY>
        <flowName>Plc_WoliCloseAccessoryDesktop</flowName>
        <inputAssignments>
            <name>var_WoliId</name>
            <value>
                <elementReference>woliRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>abiModRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plc_AbiModelCompatibility__c</objectType>
    </variables>
    <variables>
        <name>assetsFromTerminal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>External Catalog Item record to store product model data</description>
        <name>eciRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2WExtCat__External_Catalog_Item__c</objectType>
    </variables>
    <variables>
        <name>eciRecordSS2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2WExtCat__External_Catalog_Item__c</objectType>
    </variables>
    <variables>
        <name>numAssetFromSs2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSS2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>solutionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plc_Solution__c</objectType>
    </variables>
    <variables>
        <name>solutionRecordSS2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plc_Solution__c</objectType>
    </variables>
    <variables>
        <name>SS2_Found</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bit2Shop__Stock_Serials2__c</objectType>
    </variables>
    <variables>
        <name>SS2_Retire_Found</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bit2Shop__Stock_Serials2__c</objectType>
    </variables>
    <variables>
        <description>a record variable to check if exit at  least 1 result</description>
        <name>ss2Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bit2Shop__Stock_Serials2__c</objectType>
    </variables>
    <variables>
        <name>ss2Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bit2Shop__Stock_Serials2__c</objectType>
    </variables>
    <variables>
        <name>ss2RetireRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bit2Shop__Stock_Serials2__c</objectType>
    </variables>
    <variables>
        <name>StockSerialFromDllConfirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>termRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plc_TermId__c</objectType>
    </variables>
    <variables>
        <name>woliRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>woRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>woRecordTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
